.input-container {
    display: flex;
    align-items: center;            /* 수직 정렬 */
    gap: 10px;                      /* 요소 간 간격 */
}

table {
    margin-bottom: 20px; /* 테이블 아래 여백 */
}

input {
    flex: 1;                        /* 필요하면 입력 필드를 유연하게 확장 */
    padding: 5px;
    font-size: 16px;
}

.button {
    padding: 10px 3px;
    cursor: pointer;                /* 버튼처럼 보이게 */
    color: #999;
    transition: color 0.3s ease;    /* hover 효과 */
}

.button:hover {
    color: #0056b3;
}

.btn-eraser:hover {
    color: #e74c3c;
}

.entry-item {
    display: flex;
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

.entry-item input {
    flex: 1; /* 필요한 경우 input 필드의 너비 확장 */
    padding: 5px;
    font-size: 14px;
}