.input-container {
    display: flex;
    margin-top: 50px;
    align-items: center;    /* 수직 정렬 */
    gap: 10px;              /* 요소 간 간격 */
}

.entry-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.entry-item-left {
    flex: 1
}

.entry-item-right {
    display: flex;
    gap: 8px;
}

.entry-input {
    width: 95%;
    height: 40px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.entry-name {
    width: 95%;
    padding: 3px;
    border: 1px solid transparent;
}

.button:hover {
    color: #0056b3;
}

.btn-eraser:hover {
    color: #e74c3c;
}