.container {
    align-items: center;    /* 수직 정렬 */
}

.entry-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.entry-item-left {
    flex: 1
}

.entry-item-right {
    display: flex;
    gap: 8px;
}

.entry-input {
    width: 95%;
    height: 40px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.entry-input:focus {
    border: 1px solid #0056b3;
}

.entry-name {
    width: 95%;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid transparent;
}

.button:hover {
    color: #0056b3;
}

.btn-eraser:hover {
    color: #e74c3c;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 16.5px 14px !important;
}

.MuiAlert-message {
    font-family: "arara";
}