.name-container {
    display: flex;
    align-items: center;
}

.name {
    padding-left: 5px;
}

.raffle-condition-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    gap: 10px; /* 조건 간 간격 */
}

.raffle-condition-container div, li {
    font-size: 1rem !important;
}

.content-condition {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
}

.content-select-item {
    height: 50px;
}

.content-input {
    width: 250px;
    padding-left: 10px !important;
}

.winners-container {
    display: flex;
    flex-wrap: wrap;  /* 여러 줄로 넘어가도록 설정 */
    gap: 20px;  /* 각 Winner 사이의 간격 */
    margin-top: 20px;  /* 상단 간격 */
}

.winners-container > div {
    /* 필요에 따라 Winner의 스타일을 추가합니다 */
    display: inline-block;  /* 각 Winner의 블록 레벨 요소 */
    margin: 0px 30px;
}

.button {
    padding: 10px 3px;
    cursor: pointer;                /* 버튼처럼 보이게 */
    color: #999;
    transition: color 0.3s ease;    /* hover 효과 */
}

.button:hover {
    color: #0056b3;
}

.btn-eraser {
    padding-right: 10px;
}

.btn-eraser:hover {
    color: #e74c3c;
}

.content-title {
    display: flex;
    align-items: center;
    gap: 10px;
}


.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 0;
}