@font-face {
  font-family: "arara";
  src: url('../src/assets/온글잎\ 아라라체.ttf');
}

:root {
  font-family: "arara";
  font-size: x-large;
  line-height: 1.5;
  font-synthesis: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}